* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    /* background-color: rgba(240,238,239,255);*/
    background-image: radial-gradient(#000000 0.5px, transparent 0.5px);
    background-size: 10px 10px;
    background-color: #ececec;
}
main {
    width: 100vw;
    height: 100vh;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: black;
    -webkit-box-shadow: -10px 13px 10px -3.5px #a2a2a2;
    -moz-box-shadow: -10px 13px 10px -3.5px #a2a2a2;
    box-shadow: -10px 13px 10px -3.5px #a2a2a2;
}
nav h1 {
    color: white;
}
nav .nav-links ul {
    display: flex;
    list-style-type: none;
}
nav .nav-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 14px;
}
.main-page {
    padding: 10%;
}
.row {
    display: flex;
}
.container{
    display: inline-block;
}
.typewriter{
    overflow: hidden;
    border-right: .15em solid blue;
    white-space: nowrap;
    animation: typing 2s steps(20, end) forwards;
    font-weight: bold;
    font-size: 2rem;
    color: blue;
    width: 0;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
.col-1 {
    flex-basis: 50%;
}
.col-1 h1 {
    margin-top: 100px;
}
.col-1 p {
    margin-top: 15px;
}
.col-2 img {
    filter: grayscale(100%);
    width: auto;
    height: auto;
}
.col-2 img:hover {
    filter: grayscale(0);
    transform: scale(1.3);
}
.skills {
    display: flex;
}
.skills svg {
    margin: 50px 14px;
    width: 45px;
    cursor: pointer;
}
.skills .html:hover {
    fill: orangered;
    transform: scale(1.5);
}
.skills .css:hover {
    fill: blue;
    transform: scale(1.5)
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
}
footer h3 {
    margin-bottom: 15px;
}
.footerline {
    width: 100vw;
    height: 1px;
    background-color: black;
}
.socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
}
#github:hover {
    transform: scale(1.5);
}
#facebook:hover {
    transform: scale(1.5);
    fill: blue;
}
#instagram:hover {
    transform: scale(1.5);
    fill: orangered;
}
#linkedin:hover {
    transform: scale(1.5);
    fill: blue;
}
.socialmedia svg {
    margin: 15px 15px;
    width: 20px;
    cursor: pointer;
}
.contact {
    width: 100vw;
    height: 100vh;
}
.contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact h1 {
    margin: 60px 0;
}
.contact-container form {
    border-radius: 16px;
    border: 2px solid rgba(0, 0, 0, 1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 350px;
    /*background: rgba(0, 0, 0, 0.11);*/
    background: #eeeeee;
    background: -webkit-linear-gradient(0deg, #eeeeee 0%, #d7d7d7 100%);
    background: linear-gradient(0deg, #eeeeee 0%, #d7d7d7 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    -webkit-box-shadow: -10px 13px 10px -3.5px #a2a2a2;
    -moz-box-shadow: -10px 13px 10px -3.5px #a2a2a2;
    box-shadow: -10px 13px 10px -3.5px #a2a2a2;
}
.contact-container form input {
    font-size: 1em;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
    width: 300px;
}
.contact-container form textarea {
    font-size: 1em;
    padding: 10px;
    outline: none;
    border: none;
    width: 300px;
}
.contact-container form button {
    border: none;
    padding: 10px 15px;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 100px;
}